# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/
!build-conventions/src/**/build/
!build-logic/*/src/**/build/

# Ignore IntelliJ IDEA directories
.idea/
out/

# Ignore MacOS specifics
.DS_Store

**/.kotlin/
